.body
{
    display: flex;
    flex-direction: column;
}
/*Header Container*/
.header-container
{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    
}
.header
{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 900px;
}
.links
{
    display: flex;
    gap: 16px;
}
a
{
    text-decoration: none;
    color: white;
}
.text
{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

/*Description Container*/

.placeholder
{
    width: 450px;
    height: auto;
}
.description-container
{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}
.description
{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 900px;
}
.text2
{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.text3
{
    font-size: 18px;
    color:  #e5e7eb;

}
.content
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
button
{
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 800;
    border-radius: 10px;
    height: 30px;
    padding-left: 24px;
    padding-right: 24px;
    
}

/*Information Container*/

.information-container
{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.information
{
    display: flex;
    flex-direction: column;
    width: 900px;
    align-items: center;
    gap: 16px;
}
.images
{
    display: flex;
    justify-content: space-between;
    
    gap: 8px;
    padding: 8px;
    
}
.pic
{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    
}
.text4
{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}
.part1,
.part2,
.part3,
.part4
{   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/*Quote-container*/

.quote-container
{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    height : 400px;
    align-items: center;
}
.quote
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 900px;
}
.author
{
    display: flex;
    justify-content: flex-end;
}
.text6
{
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
}
.author
{
    font-size: 25px;
    font-weight: 800;
    color: #1f2937;
}